{% load static %}
{% block content %}
<style>
    body {
        background-image: url("{% static 'images/2piso background.jpg' %}");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        font-family: 'Arial', sans-serif;
        color: #2c3e50;
        margin: 0;
        padding: 0;
        background-color: #f4f4f4;
        color: #333;
    }
    .container {
        max-width: 600px;
        background-color: #fff;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-top: 50px;
    }
    h2 {
        color: #333;
        font-size: 2rem;
        margin-bottom: 20px;
    }
    button {
        background-color: #5a5a5a;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        font-weight: bold;
        width: 100%;
        font-size: 1.1rem;
    }
    button:hover {
        background-color: #444;
    }
</style>

<div class="container">
    <h2 class="text-center">Restablecer contraseña</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="mt-3">Guardar nueva contraseña</button>
    </form>
</div>
{% endblock %}


